.container{
  padding: 25px;
  box-sizing: border-box;
}


.container input{
  width: 250px;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 25px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
.container button{
  background-color: aqua;
  height: 40px;
  width: 70px;
  text-align: center;
  border-radius: 5px;
}
.conatainer2{
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
}